<!DOCTYPE html>
<html>
    <head>
        <title>Ansta - contacts</title>
    </head>
    <body>
        {% include 'navigation.html' %}
        {% block content %}
        {% endblock %}
    </body>
</html>