{% extends 'base.html' %}

{% block content %}
<hx>Contacts:</hx>
<form method="GET" action="">
    <input type="text" name="q" placeholder="Search contacts" 
            value="{{ request.GET.q }}" incremental="incremental" />
    <input type="submit" value="Search" />
</form>
<ul>
    {% for obj in object_list %}
        <li>
            {{ obj.name }} {{ obj.surname }}
            <a href="{{ obj.update_url }}"><input type="button" value="Edit"></a>
            <a href="{{ obj.phone_add_url }}"><input type="button" value="+ Phone"></a>
            <a href="{{ obj.email_add_url }}"><input type="button" value="+ Email"></a>
            <a href="{{ obj.delete_url }}"><input type="button" value="Delete"></a>
            {% for p in obj.phone %}
            <ul>
                <li>
                    {{ p.phone }}
                    <a href="{{ p.delete_url }}"><input type="button" value="Delete"></a>
                </li>
            </ul>
            {% endfor %}
            {% for e in obj.email %}
            <ul>
                <li>
                    {{ e.email }}
                    <a href="{{ e.delete_url }}"><input type="button" value="Delete"></a>
                </li>
            </ul>
            {% endfor %}
        </li>
    {% endfor %}
    <a href="{% url 'contact:person-add' %}"><input type="button" value="Add contact"></a>
</ul>
{% endblock %}
