{% extends 'base.html' %}

{% block content %}
<h1>Do you want to delete contact: "{{ object.name }} {{ object.surname }}"</h1>
<form method='POST'> 
    {% csrf_token %}
    <input type='submit' value='Yes' /> <a href="{% url 'contact:list' %}"><input type='button' value='Cancel' /></a> 
</form>
{% endblock %}
